
    * {
      font-family: sans-serif;
    }

    #logo {
      margin-left: -30px;
    }

    nav ul {
      list-style: none;
      margin: 0;
      float: right;
    }

    nav ul li {
      float: left;
      display: inline;
      margin-right: 1em;
    }

    nav ul li a {
      text-decoration: none;
    }

    nav ul li a:hover {
      text-decoration: underline;
    }

    body {
      background-image: url(http://github-atom-io-herokuapp-com.global.ssl.fastly.net/assets/hero-6f5ca4d6a52b063697c029b5e2654ff1.svg),url(//github-atom-io-herokuapp-com.global.ssl.fastly.net/assets/hero-tile-60e4804d894eddd6f26dd04402365ad2.png);
      background-repeat: repeat-x;
      width: 80%;
      margin: auto;
    }
    p.big {
      font-size: 1.2em;
    }
